apiVersion: 1
{{- if .Values.grafana.alertingTeamsWebhooks }}
policies:
  - orgId: 1
    receiver: infra-alerts
    group_by: [alert_team, severity, alertname]
    group_wait: 30s
    group_interval: 5m
    repeat_interval: 4h
    routes:
      {{- range .Values.grafana.alertingTeamsWebhooks }}
      - matchers:
          - alert_team = {{ .team | quote }}
        receiver: {{ printf "%s-alerts" .team | quote }}
        routes:
          - matchers:
              - severity =~ "warning|info"
            repeat_interval: 12h # Quieter notifications for non-critical alerts
      {{- end }}
{{- end }}
